.result-container {
    text-align: center;
    // margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    >div {
        display: flex;

        >div {
            display: flex;
        }
    }
}

.endscreen-header-img {
    margin-bottom: 124px;
}

.score-headline {
    color: #FFFFFF;
    font-size: var(--score-hl-font-size);
    margin-bottom: 24px;
}

.endscreen-points {
    height: 62px;
}

.winner {
    margin-top: 40px;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.6s ease;
}

.winner.show {
    opacity: 1;
    transform: translateY(0);
}

.overlay {
    position: fixed;
    inset: 0;
    background: var(--bg);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
    transform: translateY(-100%);
    opacity: 0;

    transition: transform 0.6s ease;
}

.overlay-content {
    flex-direction: column;
    text-align: center;
    color: white;
    transform: translateY(-100px);
    transition: all 0.6s ease;
}

.overlay-winner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >img {
        margin-top: 64px;
        margin-bottom: 64px;
    }
}

.overlay.show {
    transform: translateY(40px);
    opacity: 1;
}

.confetti-game-theme {
    display: var(--confetti);

    >img {
        width: 100%;
    }
}

.overlay-menu-btn {
    font-size: var(--menu-btn);
    height: 62px;
    width: 204px;
    color: #FFFFFF;
    background-color: #86E9D633;
    border: 1px solid #4DD5BC;

    &:hover {
        cursor: pointer;
        box-shadow: var(--btn-hover-s);
        border: var(--btn-hover-b);
    }
}

#winner-text-head {
    font-size: var(--win-head-font-size);
}

.winner-b {
    color: var(--win-b);
    font-size: var(--win-font-size);
}

.winner-o {
    color: var(--win-o);
    font-size: var(--win-font-size);
}

.draw {
    color: var(--draw-color);
    font-size: 128px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.d-none {
    display: none;
}