.result-container {
    text-align: center;
    // margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    >div {
        display: flex;

        >div {
            display: flex;
        }
    }
}

.endscreen-header-img {
    margin-bottom: 124px;
}

.score-headline {
    color: #FFFFFF;
    font-size: var(--score-hl-font-size);
    margin-bottom: 24px;
}

.endscreen-points {
    height: 62px;
}

.winner {
    margin-top: 40px;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.6s ease;
}

.winner.show {
    opacity: 1;
    transform: translateY(0);
}

.overlay {
    position: fixed;
    inset: 0;
    background: var(--bg);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
    transform: translateY(-100%);
    opacity: 0;

    transition: transform 0.6s ease;
}

.overlay-content {
    text-align: center;
    color: white;
    transform: translateY(-100px);
    transition: all 0.6s ease;
}

.overlay.show {
    transform: translateY(0);
    opacity: 1;
}

.confetti-game-theme {
    display: var(--confetti);
}

.winner-b {
  color: var(--win-b);
}

.winner-o {
  color: var(--win-o);
}

.draw {
  color: gray;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}