body {
    background-color: var(--bg);
}

.game-header {
    padding-left: 111px;
    padding-right: 111px;
    margin-top: var(--mt);
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
    // height: 62px;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: var(--align-c);
    width: 100%;
    height: var(--header-h);
    background-color: var(--header-bg);
    border-radius: var(--header-b-r);

    >div {
        display: flex;

        >div {
            display: flex;
        }
    }
}

.player-points {
    align-items: center;
    justify-content: center;
    font-size: 24px;
    gap: 20px;
    width: var(--points-w);
    height: var(--points-h);
    margin-left: var(--points-margin-l);
    border-radius: var(--header-b-r);

    background-color: var(--points-bg);

    >div {
        gap: 4px;

        >img {
            width: 24px;
        }
    }

    >.player-1 {
        color: var(--player-1);
    }

    >.player-2 {
        color: var(--player-2);
    }
}

.exit-game-container {
    display: flex;
    align-items: center;
    margin-right: var(--btn-margin-r);

    >button {
        font-family: var(--font);
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--btn-h);
        font-size: var(--btn-font-s);
        font-weight: bold;
        color: var(--btn-font-c);
        gap: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: var(--btn-bg);
        border: var(--btn-border);
        border-radius: var(--header-b-r);

        >img {
            content: var(--exit-btn-icon);
        }

        &:hover {
            cursor: pointer;
            box-shadow: var(--btn-hover-s);
            border: var(--btn-hover-b);
        }
    }
}

.current-player {
    display: flex;
    align-items: end;
    color: var(--current-player);
    font-size: var(--current-player-size);

    >div {
        gap: var(--current-player-gap);

        >img {
            width: var(--current-player-icon-w);
        }
    }
}

.code-theme-player {
    display: var(--code-theme-p);
}

dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--dialog-h);
    width: var(--dialog-w);
    background-color: var(--dialog-bg);
    font-weight: var(--dialog-f-w);
    color: var(--dialog-f-c);
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;

    >div {

        >p {
            font-size: var(--dialog-f-s);
        }
    }

}

#dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 54px;
}

.dialog-btns {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: var(--dialog-btns-font-s);
    font-weight: 700;
}

.dialog-close-btn {
    height: var(--dialog-btn-h);
    width: var(--dialog-back-btn-w);
    border: var(--dialog-back-btn-border);
    border-radius: var(--dialog-back-btn-border-r);
    font-size: var(--dialog-btns-font-s);
    font-weight: 700;
    background-color: var(--dialog-back-btn-bg);
    color: #FFFFFF;
    font-family: var(--font);

    &:hover {
        cursor: pointer;
        box-shadow: var(--dialog-back-btn-shadow);
    }
}

.dialog-exit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--dialog-btn-h);
    width: var(--dialog-exit-btn-w);
    border: var(--dialog-exit-btn-border);
    border-radius: var(--dialog-exit-btn-border-r);
    background-color: var(--dialog-exit-btn-bg);
    color: var(--dialog-exit-btn-font-c);

    &:hover {
        box-shadow: var(--dialog-back-btn-shadow);
    }
}

dialog[open] {
    animation: slideDown 0.3s ease forwards;
}

dialog.closing {
    animation: slideUp 0.3s ease forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translate(-50%, -200%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -200%);
    }
}

// .card-content-wrapper {
//     width: 100%;
//     display: flex;
//     justify-content: center;
// }

#card-content {
    display: grid;
    justify-content: center;
}

.card {
    // height: 120px;
    aspect-ratio: var(--aspect);
    border-radius: var(--border-r, 0);

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 300ms ease-in-out;
    }

    &__front {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;

        &--back {
            transform: rotateY(180deg);
        }
    }

    &.flipped .card__inner {
        transform: rotateY(180deg);
    }
}

.matched-card {
    box-shadow: var(--shadow-pos) var(--match-border);
}

.game-header-margin-b {
    margin-bottom: 20px !important;
}