body[data-theme="code"] {
    --font: red-rose;
    --bg: #303131;
    --mt: 41px;
    --header-bg: unset;
    --header-h: 62px;
    --header-b-r: unset;
    --points-w: 292px;
    --points-h: unset;
    --points-margin-l: unset;
    --align-c: unset;
    --player-1: #2BB1FF;
    --player-2: #F58E39;
    --current-player: #FFFFFF;
    --current-player-size: 26px;
    --current-player-icon-w: 29px;
    --current-player-gap: 8px;
    --points-bg: #86E9D633;
    --btn-bg: #86E9D633;
    --btn-border: 1px solid #4DD5BC;
    --btn-h: 62px;
    --btn-margin-r: unset;
    --btn-font-s: 24px;
    --btn-font-c: #FFFFFF;
    --btn-hover-b: 2px solid #4DD5BC;
    --btn-hover-s: 2px 2px 8px 0px rgba(77, 213, 188, 1);
    --code-theme-p: block;
    --score-hl-font-size: 26px;
    --win-b: #2BB1FF;
    --win-o: #F58E39;
    --win-head-font-size: 40px;
    --win-font-size: 60px;
    --confetti: block;
    --draw-color: #4DD5BC;
    --16-card-w: 530px;
    --24-card-w: 750px;
    --match-border: #4DD5BC;
    --aspect: 1 / 1;
    --card-w: 120px;
    --shadow-pos: 0px 0px 0 3px;
    --menu-btn: 24px;
}

body[data-theme="game"] {
    --font: orbitron;
    --bg: #294F60;
    --mt: 41px;
    --header-bg: #FD96C933;
    --header-h: 102px;
    --header-b-r: 10px;
    --points-w: 182px;
    --points-h: 54px;
    --points-margin-l: 24px;
    --align-c: center;
    --player-1: #F58E39;
    --player-2: #2BB1FF;
    --current-player: #FFFFFF;
    --current-player-size: 32px;
    --current-player-gap: 18px;
    --current-player-icon-w: 41px;
    --points-bg: #FFFFFF;
    --btn-bg: none;
    --btn-border: 2px solid #E71C4F;
    --btn-h: 54px;
    --btn-margin-r: 24px;
    --btn-font-s: 20px;
    --btn-font-c: #FFFFFF;
    --btn-hover-b: 2px solid #E71C4F;
    --btn-hover-s: 2px 2px 8px 0px rgba(231, 28, 79, 1);
    --code-theme-p: none;
    --win-b: #2298DB;
    --win-o: #EA6900;
    --win-head-font-size: 28px;
    --win-font-size: 64px;
    --confetti: none;
    --draw-color: #ED1B76;
    --match-border: #ED1B76;
    --aspect: 1 / 1.14;
    --border-r: 12px;
    --card-w: 105px;
    --shadow-pos: 0px 0px 0 3px;
}

body[data-theme="food"] {
    --font: klee-one;
    --bg: #ffffff;
    --mt: 10px;
    --header-bg: #F0E5D9;
    --header-h: 102px;
    --header-b-r: 10px;
    --points-w: 159px;
    --points-h: 54px;
    --points-margin-l: 24px;
    --align-c: center;
    --player-1: #F58E39;
    --player-2: #2BB1FF;
    --current-player: #A45212;
    --current-player-size: 32px;
    --current-player-gap: 18px;
    --current-player-icon-w: 41px;
    --points-bg: #FFFFFF;
    --btn-bg: #FFF9F2;
    --btn-border: 2px solid #F3832D;
    --btn-h: 54px;
    --btn-margin-r: 24px;
    --btn-font-s: 16px;
    --btn-font-c: #F3832D;
    --btn-hover-b: 2px solid #F3832D;
    --btn-hover-s: 2px 2px 8px 0px rgba(243, 131, 45, 1);
    --code-theme-p: none;
    --win-b: #A45212;
    --win-o: #A45212;
    --win-head-font-size: 40px;
    --win-font-size: 80px;
    --confetti: none;
    --draw-color: #F3832D;
    --match-border: #F3832D;
    --aspect: 1 / 1;
    --card-w: 120px;
    --shadow-pos: 1px 1px 0 4px;
}

body {
    background-color: var(--bg);
}

.game-header {
    padding-left: 111px;
    padding-right: 111px;
    margin-top: var(--mt);
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
    // height: 62px;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: var(--align-c);
    width: 100%;
    height: var(--header-h);
    background-color: var(--header-bg);
    border-radius: var(--header-b-r);

    >div {
        display: flex;

        >div {
            display: flex;
        }
    }
}

.player-points {
    align-items: center;
    justify-content: center;
    font-size: 24px;
    gap: 20px;
    width: var(--points-w);
    height: var(--points-h);
    margin-left: var(--points-margin-l);
    border-radius: var(--header-b-r);

    background-color: var(--points-bg);

    >div {
        gap: 4px;

        >img {
            width: 24px;
        }
    }

    >.player-1 {
        color: var(--player-1);
    }

    >.player-2 {
        color: var(--player-2);
    }
}

.exit-game-container {
    display: flex;
    align-items: center;
    margin-right: var(--btn-margin-r);

    >button {
        font-family: var(--font);
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--btn-h);
        font-size: var(--btn-font-s);
        font-weight: bold;
        color: var(--btn-font-c);
        gap: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: var(--btn-bg);
        border: var(--btn-border);
        border-radius: var(--header-b-r);

        &:hover {
            cursor: pointer;
            box-shadow: var(--btn-hover-s);
            border: var(--btn-hover-b);
        }
    }
}

.current-player {
    display: flex;
    align-items: end;
    color: var(--current-player);
    font-size: var(--current-player-size);

    >div {
        gap: var(--current-player-gap);

        >img {
            width: var(--current-player-icon-w);
        }
    }
}

.code-theme-player {
    display: var(--code-theme-p);
}

dialog {
    height: 270px;
    width: 530px;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog[open] {
    animation: slideDown 0.3s ease forwards;
}

dialog.closing {
    animation: slideUp 0.3s ease forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translate(-50%, -200%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -200%);
    }
}

// .card-content-wrapper {
//     width: 100%;
//     display: flex;
//     justify-content: center;
// }

#card-content {
    display: grid;
    justify-content: center;
}

.card {
    // height: 120px;
    aspect-ratio: var(--aspect);
    border-radius: var(--border-r);

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }

    &__front {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;

        &--back {
            transform: rotateY(180deg);
        }
    }

    &.flipped .card__inner {
        transform: rotateY(180deg);
    }
}

.matched-card {
    box-shadow: var(--shadow-pos) var(--match-border);
}